Source: openplotter-doc
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/docs

Package: openplotter-doc
Architecture: all
Depends: ${misc:Depends}, openplotter-settings
Description: OpenPlotter project documentation
 OpenPlotter project documentation
